body {
    background-color: ivory;
    text-align: center;
    margin: 0%;
}
h2 {
    font-size: 65px;
    margin: 10px;
}
h3 {
    margin: 0px;
}
h1 {
    color: yellow;
    font-size: 800%;
    font-family: 'Boogaloo', cursive;
    text-shadow: 10px 10px black;
    margin: 0px;
}
.Panel {
    position: absolute;
    left: 70px;
    font-size: 35px;

}
.Spray {
    position: absolute;
    Right: 70px;
    font-size: 35px;
}
.Est {
    font-size: 35px;
    font-family: 'Herr Von Muellerhoff', cursive;
}
p {
    font-size: x-large;
}
.div1 {
    background-color: rgb(49, 93, 225);
    padding: 25px;
}
.div2 {
    padding: 10px
}
.img1 {
    padding-top: 30px;
    height: 300px;
    float: left;
    margin-left: 200px;
}
.list1 {
    text-align: left;
    float: right;
    margin-right: 300px;
    font-size: x-large;
}
.img2 {
    height: 300px;
    float: right;
    padding-top: 150px;
    margin-right: 200px;
}

